<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Dashboard IP</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css" />
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="js/jquery-3.3.1.min.js" defer><\/script>')</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous" defer></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous" defer></script>
	<script type="text/javascript" src="js/jq.ui.core.js"></script>
	<script type="text/javascript" src="js/jq.ui.datepicker.js"></script>
	<script src="js/jquery.main.js" defer></script>
</head>
<body>
	<div id="wrapper">
		<div class="content-block style">
			<header id="header">
				<div class="header-holder d-flex align-items-center justify-content-between navbar-light">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
						<span class="navbar-toggler-icon"></span>
					</button>
					<strong class="logo"><a href="#"><img src="images/logo.png" alt="Dashboard IP"></a></strong>
					<div class="profile-holder d-flex align-items-center">
						<ul class="nav-links d-none d-md-flex">
							<li>
								<a href="#">
									<div class="icon-box">
										<span class="ico icon-idea"></span>
									</div>
									<strong class="text">Submit an Idea</strong>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="icon-box">
										<span class="ico icon-dashboard"></span>
									</div>
									<strong class="text">My Dasboard</strong>
								</a>
							</li>
						</ul>
						<div class="user-hold">
							<a class="user d-flex align-items-center dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<div class="img-box" style="background-image: url(images/img2.png);"></div>
								<strong class="user-name">Joaquin Martinek</strong>
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Submit an Idea</a>
								<a class="dropdown-item" href="#">My Dasboard</a>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="sidenav">
				<ul class="nav-bar">
					<li>
						<a href="#" class="active">Dashboard</a>
					</li>
					<li>
						<a href="#">My Account</a>
					</li>
					<li>
						<a href="#">Company Profile</a>
					</li>
					<li>
						<a href="#">Team Members</a>
					</li>
					<li>
						<a href="#">Admin Actions</a>
					</li>
				</ul>
				<a class="logout" href="#">Logout</a>
			</div>
			<main id="main">
				<div class="detail-area style">
					<div class="btn-back-holder">
						<a class="btn-back" href="#">Back</a>
					</div>
					<h1 class="style">Change Website Pictures <span class="sub-text">#B0021</span></h1>
					<ul class="tabset style">
						<li>
							<a href="#tab1-0">
								<span class="text text-uppercase">innovation</span>
								<span class="text">Disclosure Form</span>
							</a>
						</li>
						<li>
							<a href="#tab2-0">
								<span class="text text-uppercase">branding</span>
								<span class="text">Disclosure Form</span>
							</a>
						</li>
						<li>
							<a href="#tab3-0">
								<span class="text text-uppercase">secret</span>
								<span class="text">Disclosure Form</span>
							</a>
						</li>
						<li>
							<a href="#tab4-0">
								<span class="text text-uppercase">process</span>
								<span class="text">Disclosure Form</span>
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div id="tab1-0">
							<div class="tabs-info-wrap">
								<div class="row mb-3">
									<div class="col-lg-6">
										<div class="input-hold mb-3">
											<input type="text" class="form-control new-style" placeholder="Name:">
										</div>
										<div class="input-hold mb-3 mb-lg-0">
											<input type="text" class="form-control new-style" placeholder="Date:">
										</div>
									</div>
									<div class="col-lg-6">
										<textarea class="form-control new-style" placeholder="Admin Notes"></textarea>
									</div>
								</div>
								<div class="detail-holder">
									<ul class="links">
										<li>
											<a href="#">Profiles</a>
										</li>
										<li>
											<a href="#">Background</a>
										</li>
										<li>
											<a href="#">Summary</a>
										</li>
										<li>
											<a href="#">Details</a>
										</li>
										<li>
											<a href="#">Evaluation</a>
										</li>
										<li>
											<a href="#">Legal</a>
										</li>
										<li>
											<a href="#">Assignment</a>
										</li>
									</ul>
									<textarea class="form-control textarea new-style" placeholder="Details"></textarea>
								</div>
							</div>
						</div>
						<div id="tab2-0">
							<div class="tabs-info-wrap">
								<span class="text text-uppercase">branding</span>
								<span class="text">Disclosure Form</span>
							</div>
						</div>
						<div id="tab3-0">
							<div class="tabs-info-wrap">
								<span class="text text-uppercase">secret</span>
								<span class="text">Disclosure Form</span>
							</div>
						</div>
						<div id="tab4-0">
							<div class="tabs-info-wrap">
								<span class="text text-uppercase">process</span>
								<span class="text">Disclosure Form</span>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</body>
</html>
